/* Home page styles */
/* line 3, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
.mainContent {
  margin: 0 auto;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  float: none;
  display: flex;
}

/* line 11, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
.mainMenu a {
  font-family: 'Roboto', sans-serif;
  color: #222222;
}
/* line 14, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
.mainMenu a:hover {
  background: none;
  border-bottom: 2px solid #953BFF;
}

/* line 19, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
.logo img {
  width: 50%;
}

/* line 23, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
.logo:hover {
  background: none;
}

/* line 27, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
.no-background {
  background: none;
  background-color: transparent !important;
}

/* line 31, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
.select-bottom {
  border: none !important;
  border-bottom: solid #953BFF !important;
  border-radius: 0px !important;
  box-shadow: none !important;
  font-size: 1.3rem !important;
  line-height: 25px !important;
  padding: 0px 0px 0px 0px !important;
  -webkit-appearance: none;
}

/* line 41, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
.btn-purple {
  background-color: #953BFF !important;
  border-color: #953BFF !important;
  border-radius: 0px !important;
  color: #ffffff;
  float: left;
  font-family: Roboto !important;
  font-size: 0.8rem !important;
  font-weight: 100 !important;
  line-height: 0.8 !important;
  width: 55% !important;
  box-shadow: 1px 5px 7px 0px #888888;
}

/* line 54, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
.imgResponsive {
  width: 20%;
}

/* line 57, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
.card-header {
  background-color: #1274d9 !important;
  color: #ffffff;
}

/* line 61, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
.imgArrow {
  width: 2rem !important;
}

/* line 64, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
.imgArrowStory {
  width: 2rem !important;
}

/* line 67, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
.col-sm-12 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/* line 71, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
.card {
  margin-bottom: 2rem;
}

/* line 74, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
.storyLink {
  word-break: break-all;
}

/* line 77, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
.browseBtn {
  padding: 20px 20px 20px 20px;
  white-space: normal !important;
  word-wrap: break-word;
}

/* line 83, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
.img-background {
  background: url("carousel.jpg") no-repeat;
  background-size: 100% 100%;
  min-height: 550px;
}

/* line 88, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
.main-top-row {
  min-height: 550px;
}

/* line 91, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
.center-vertical {
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

/* line 99, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
.h1-custom {
  font-size: 3.2rem;
  font-weight: 300;
}

/* line 103, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
.h4-custom {
  font-size: 1rem;
  font-weight: 300;
  line-height: 2rem;
  text-align: left;
  margin-bottom: 0px;
}

/* line 110, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
.left-panel {
  padding: 85px 20px 20px 20px;
}

/* line 113, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
.right-panel {
  padding: 0px 0px 0px 70px;
}

/* line 116, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
.width-100 {
  width: 100%;
}

/* line 119, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
.center {
  text-align: center;
}

/* line 122, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
.font-white {
  color: #ffffff;
}

/* line 125, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
.align-bottom {
  padding: 210px 0px 0px 40px;
}

@media (min-width: 1200px) {
  /* line 131, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  html {
    font-size: 17px;
  }
  /* line 133, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  html b {
    font-weight: 600;
  }

  /* line 137, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .col-xl-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 30.333333% !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  /* line 146, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .card {
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 30px !important;
  }

  /* line 151, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .cardContainer {
    min-height: 380px;
    max-height: 380px;
  }

  /* line 155, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .imgArrow {
    width: 2rem;
  }

  /* line 158, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .imgArrowStory {
    width: 5%;
  }

  /* line 161, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .imgArrowBrowse {
    width: 3%;
  }

  /* line 164, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .browseBtn {
    max-width: 25%;
    word-wrap: break-word;
    white-space: normal !important;
    padding: 20px 20px 20px 20px;
  }

  /* line 170, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .h5 {
    font-family: serif;
    font-size: 1.2rem !important;
    font-weight: 200 !important;
    line-height: 1.8 !important;
  }
  /* line 175, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .h5 b {
    font-weight: 600;
  }

  /* line 179, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .h5 p {
    font-family: serif;
    font-size: 1.1rem !important;
    font-weight: 200 !important;
    line-height: 1.8 !important;
  }

  /* line 185, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .h5 ul {
    font-family: serif;
    font-size: 1.0rem !important;
    font-weight: 200 !important;
    line-height: 1.8 !important;
  }

  /* line 191, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .browseLink {
    font-size: larger;
  }

  /* line 194, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .blogLink {
    font-size: x-large;
  }

  /* line 197, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .lg-width {
    width: 75% !important;
  }

  /* line 200, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  b {
    font-weight: 600;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 206, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  html {
    font-size: 17px;
  }

  /* line 209, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .col-xl-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 30.333333% !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  /* line 218, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .card {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 30px !important;
  }

  /* line 223, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .cardContainer {
    min-height: 380px;
    max-height: 380px;
  }

  /* line 227, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .imgArrow {
    width: 2rem;
  }

  /* line 230, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .imgArrowStory {
    width: 5%;
  }

  /* line 233, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .imgArrowBrowse {
    width: 3%;
  }

  /* line 236, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .browseBtn {
    max-width: 25%;
    word-wrap: break-word;
    white-space: normal !important;
    padding: 20px 20px 20px 20px;
  }

  /* line 242, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .h5 {
    font-family: serif;
    font-size: 1.2rem !important;
    font-weight: 200 !important;
    line-height: 1.8 !important;
  }
  /* line 247, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .h5 b {
    font-weight: 600;
  }

  /* line 251, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .h5 p {
    font-family: serif;
    font-size: 1.1rem !important;
    font-weight: 200 !important;
    line-height: 1.8 !important;
  }

  /* line 257, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .h5 ul {
    font-family: serif;
    font-size: 1.0rem !important;
    font-weight: 200 !important;
    line-height: 1.8 !important;
  }

  /* line 263, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .browseLink {
    font-size: larger;
  }

  /* line 266, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .blogLink {
    font-size: x-large;
  }

  /* line 269, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .lg-width {
    width: 75% !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 276, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .container {
    width: 90% !important;
  }

  /* line 279, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .col-sm-12 {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  /* line 283, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .card {
    margin-bottom: 30px !important;
  }

  /* line 286, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .cardContainer {
    min-height: 680px;
    max-height: 680px;
  }

  /* line 290, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .imgArrow {
    width: 10px !important;
  }

  /* line 293, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .imgArrowStory {
    width: 5%;
  }

  /* line 296, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .imgArrowBrowse {
    width: 3%;
  }

  /* line 299, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .browseBtn {
    max-width: 40% !important;
    word-wrap: break-word;
    white-space: normal !important;
    padding: 20px 20px 20px 20px;
  }

  /* line 305, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .text-center {
    text-size-adjust: auto;
  }

  /* line 308, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .h5 p {
    font-size: 1.1rem !important;
    font-weight: 200 !important;
    line-height: 1.8 !important;
  }

  /* line 313, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .card-text {
    font-size: larger !important;
    line-height: 45px;
  }

  /* line 317, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .browseLink {
    font-size: larger;
  }

  /* line 320, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .blogLink {
    font-size: x-large;
  }

  /* line 323, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .mobileSelect {
    font-size: 1em !important;
    max-width: 100% !important;
    width: 100% !important;
  }

  /* line 328, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .mobileShow {
    font-size: 1.7rem !important;
  }

  /* line 331, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .form-control {
    height: auto !important;
  }

  /* line 334, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  b {
    font-weight: 600;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  /* line 341, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .container {
    width: 90% !important;
  }

  /* line 344, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .col-sm-12 {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  /* line 348, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .card {
    margin-bottom: 30px !important;
  }

  /* line 351, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .cardContainer {
    min-height: 680px;
    max-height: 680px;
  }

  /* line 355, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .imgArrow {
    width: 10px !important;
  }

  /* line 358, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .imgArrowStory {
    width: 5%;
  }

  /* line 361, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .imgArrowBrowse {
    width: 3%;
  }

  /* line 364, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .browseBtn {
    max-width: 40% !important;
    word-wrap: break-word;
    white-space: normal !important;
    padding: 20px 20px 20px 20px;
  }

  /* line 370, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .text-center {
    text-size-adjust: auto;
  }

  /* line 373, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .h5 p {
    font-size: 1.0rem !important;
    font-weight: 200 !important;
    line-height: 1.8 !important;
  }

  /* line 378, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .card-text {
    font-size: larger !important;
    line-height: 45px;
  }

  /* line 382, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .browseLink {
    font-size: larger;
  }

  /* line 385, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .blogLink {
    font-size: x-large;
  }

  /* line 388, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .mobileSelect {
    font-size: 1em !important;
    max-width: 100% !important;
    width: 100% !important;
  }

  /* line 393, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .mobileShow {
    font-size: 1.7rem !important;
  }

  /* line 396, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  .form-control {
    height: auto !important;
  }

  /* line 399, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/home.scss */
  b {
    font-weight: 600;
  }
}
/* line 4, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/posts.scss */
#postContainer {
  width: 60%;
  margin: auto;
}
@font-face {
  font-family: 'Quicksand';
  font-weight: normal;
  font-style: normal;
  src: url(/assets/Quicksand-Medium-e81f62ce1264450b3bb215d4e3fddb981cfe4f304cdeff9179f8ee25bf4545e7.ttf) format("truetype");
  src: url(/assets/Quicksand-Bold-8f144a2fe7cf8f34a35d290376fd1892ea5e91722514a9e83af52b3dd2d98d75.ttf) format("truetype");
  src: url(/assets/Quicksand-Regular-485393d6f99eaed0e2122ca867ab0bd6d8c24648d3087ef4733740f14b252737.ttf) format("truetype");
}
/* line 10, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: "Quicksand";
  font-size: 13px;
  line-height: 18px;
}

/* line 19, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 25, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 31, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 34, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 38, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 44, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 48, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/scaffolds.scss */
td {
  padding: 0 5px 7px;
}

/* line 53, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 58, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 62, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 68, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 75, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}
/* line 85, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 91, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/* line 4, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/stories.scss */
.table td, .table th {
  font-size: 1.0rem;
  text-align: center;
  width: 20%;
}

/* line 9, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/stories.scss */
.grayTable {
  background-color: gainsboro;
}

/* line 13, /Users/saulgomez/Proyectos/curve-yc/app/assets/stylesheets/stories.scss */
.center {
  text-align: center;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */


.bodyFont {
  font-family: 'Roboto' !important;
}
.navbar-nav > li > a {
 font-size:      1.5em;
}
.sStoryIcon {
  font-size: 1em !important;
  text-align: center;
}
.titleMobile {
  font-size: 2.5em;
  text-align: center;
  color: #ffffff !important;
  padding-top: 10%;
}
input[type=submit]:hover {
  background: none !important;
}
.btn-primary:hover {
  color: #222222 !important;
}
.btn-info:hover {
  color: #222222 !important;
}
.btn-warning:hover {
  color: #222222 !important;
}
.btn-danger:hover {
  color: #222222 !important;
}
.btn-primary:visited {
  color: #ffffff;
}
.btn-info:visited {
  color: #ffffff;
}
.btn-warning:visited {
  color: #ffffff;
}
.btn-danger:visited {
  color: #ffffff;
}
.hrDivider {
  border-bottom: 1px solid #ccc;
}
.textArea {
  height: 150px;
}
.right {
  float: right;
}
.left {
  float: left;
}
.centerText {
  text-align: center;
}
.inlineBlock {
  display: inline-block !important;
}
