<h4>Editing Career</h4>

<%= render 'form', career: @career %>

<div class="col-12">
  <%= link_to 'Back to Careers', story_careers_path(@story), class: "btn btn-sm btn-info right" %>
  <p>&nbsp;</p>
  <%= link_to 'Back to Stories', admin_index_path, class: "btn btn-sm btn-info right" %>
</div>


