<h4>Add Career</h4>
<br>
<%= render 'form', story: @story, career: @career %>

<div class="col-12">
  <%= link_to 'Back to Careers', story_careers_path(@story), class: "btn btn-sm btn-info right" %>
</div>

