  <div class="col-lg-12 col-md-12 col-sm-12 centerText">
    <h4>Can't find Stories filtered by current
      <span style="color: #1274d9 !important;"><%= @search_ini %></span>
      and interested in
      <span style="color: #1274d9 !important;"><%= @search_sub %></span></h4>
  </div>
  <br><br>
