<div class="container-fluid">
  <div class="row">

    <div class="col-lg-4 col-xl-4">
      <div class="card" style="width: 20rem;">
        <div class="card-block">
          <h4 class="card-title">Name</h4>
          <p class="card-text">From Job --> This Job</p>
          <p class="card-text">From Company --> This Company</p>
          <p class="card-text"><em>
              "I really enjoyed the companies and people I worked with, but never really had or
              developed a passion for the industry [advertising sales] in itself. That was the number
              one thing."
          </em></p>
          <a href="#" class="btn btn-primary">Go to the Story</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-xl-4">
      <div class="card" style="width: 20rem;">
        <div class="card-block">
          <h4 class="card-title">Name</h4>
          <p class="card-text">From Job --> This Job</p>
          <p class="card-text">From Company --> This Company</p>
          <p class="card-text"><em>
              "I really enjoyed the companies and people I worked with, but never really had or
              developed a passion for the industry [advertising sales] in itself. That was the number
              one thing."
          </em></p>
          <a href="#" class="btn btn-primary">Go to the Story</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-xl-4">
      <div class="card" style="width: 20rem;">
        <div class="card-block">
          <h4 class="card-title">Name</h4>
          <p class="card-text">From Job --> This Job</p>
          <p class="card-text">From Company --> This Company</p>
          <p class="card-text"><em>
              "I really enjoyed the companies and people I worked with, but never really had or
              developed a passion for the industry [advertising sales] in itself. That was the number
              one thing."
          </em></p>
          <a href="#" class="btn btn-primary">Go to the Story</a>
        </div>
      </div>
    </div>

  </div>
</div>
