<div class="container container-fluid"><br>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h2 class="centerText">Curver Your Career Blog</h2>
      <br>
      <% @content.each do |topic, value| %>
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 ">
              <h2><%= topic %></h2>
              <% value.sort.each do |val| %>
                &nbsp;&nbsp;<%= link_to val.title, post_path(slug: val), class: "blogLink" %>
                <br>
              <% end %>
              <br>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
