<br>
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12 centerText">
      <h2>BROWSE STORIES</h2>
      <h4>Learn about the career you want to pursue</h4>
    </div>
  </div>
  <br><br>
  <div row>
    <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12">
    <% @career_pursue.each do |career_path, value| %>
      <h3><b><%= career_path %></b></h3>
        &nbsp;&nbsp;<%= link_to "Anything #{image_tag("/assets/right-arrow.png", class: "imgArrowBrowse imgArrow")} #{career_path}".html_safe,
                                  browse_stories_path(ini_career: "Anything", sub_career: career_path), class: "browseLink" %>
        <br>
        <% value.sort.each do |val| %>
          &nbsp;&nbsp;<%= link_to "#{val} #{image_tag("/assets/right-arrow.png", class: "imgArrowBrowse imgArrow")} #{career_path}".html_safe,
                                  browse_stories_path(ini_career: val, sub_career: career_path), class: "browseLink" %>
          <br>
        <% end %>
        <br>
    <% end %>
    </div>
  </div>
</div>
