<br>
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12">
      <h1 class="h1-custom left">Browse Stories</h1>      
    </div>
    <divclass="col-lg-12 col-xl-12 col-sm-12 col-md-12 centerText">
      <h4 class="h4-custom">Explore different potential careers</h4>
    </div>    
  </div>
  <br><br>
  <div class="row">
    <% @career_path.each do |career_path, value| %>
    <div class="col-lg-6 col-xl-6 col-sm-12 col-md-12">
      <h4 class="h4-custom"><b><%= career_path %></b></h4>
        &nbsp;&nbsp;<%= link_to "#{career_path} <div class='arrow-right'></div> Anything".html_safe,
                                  browse_stories_explore_path(ini_career: career_path.gsub(" ", "-"), sub_career: "Anything"), class: "browseLink" %>
        <br>
        <% value.sort.each do |val| %>
          &nbsp;&nbsp;<%= link_to "#{career_path} <div class='arrow-right'></div> #{val}".html_safe,
                                  browse_stories_explore_path(ini_career: career_path.gsub(" ", "-"), sub_career: val.gsub(" ", "-")), class: "browseLink" %>
          <br>
        <% end %>
        <br>
    </div>    
    <% end %>    
  </div>
</div>

