<div class="container container-fluid"><br>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h2 class="centerText">Browse Stories</h2>
      <br>
      <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 ">
        <h4 class="centerText">How would you like to browse stories?</h4>
      </div>
    </div>
  </div>
</div>
<br><br>
<div class="container">
  <div class="container">
    <div class="row centerText">
      <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 ">
        <%= link_to "I'd like to learn about different potential careers", browse_explore_path,
        class: "btn btn-primary col-3 centerText browseBtn", 'data-no-turbolink' => true %>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <%= link_to "I have a specifc new career in mind I'd like to pursue", browse_pursue_path,
        class: "btn btn-primary col-3 centerText browseBtn", 'data-no-turbolink' => true %>
      </div>
    </div>
  </div>
  <div class="container" id="browseListingStories">
    <div class="row">
      <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 ">
        <div class="form-group">
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 ">
  <h4 class="centerText">*You can also just use the filters on the <a href="/">hompage!</a></h4>
</div>
