<br>
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12">
      <h1 class="h1-custom left">Browse Stories</h1>      
    </div>
    <divclass="col-lg-12 col-xl-12 col-sm-12 col-md-12 centerText">
      <h4 class="h4-custom">Explore different potential careers</h4>
    </div>    
  </div>
  <br>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 centerText h5">
      <b>
        <%= form_with url: browse_by_path do |form| %>
          <h4 class="h4-custom">My career is</h4>
          <div class="select-div1">
            <%= form.select :ini_career_path, get_options("Career Path"), { include_blank: "Anything" },
                                          { class: "form-control mobileSelect select-bottom width-30", id: "browseExploreSelect" } %>
          </div>
        <% end %>
      </b>
  </div>  
  <br>
  <div id="careerPathContainer">
    <%= render "explore_container" %>
  </div>  
</div>

<script>
  browseFilter();
</script>