<br>
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12 centerText">
      <h2>BROWSE STORIES</h2>
      <h4>Explore different potential careers</h4>
    </div>
  </div>
  <br><br>
  <div row>
    <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12">
    <% @career_path.each do |career_path, value| %>
      <h3><b><%= career_path %></b></h3>
        &nbsp;&nbsp;<%= link_to "#{career_path} #{image_tag("/right-arrow.png", class: "imgArrowBrowse imgArrow")} Anything".html_safe,
                                  browse_stories_path(ini_career: career_path, sub_career: "Anything"), class: "browseLink" %>
        <br>
        <% value.sort.each do |val| %>
          &nbsp;&nbsp;<%= link_to "#{career_path} #{image_tag("/right-arrow.png", class: "imgArrowBrowse imgArrow")} #{val}".html_safe,
                                  browse_stories_path(ini_career: career_path, sub_career: val), class: "browseLink" %>
          <br>
        <% end %>
        <br>
    <% end %>
    </div>
  </div>
</div>

