cards = '<br><br><div class="col-lg-12 col-md-12 col-sm-12" style="display:inline-block;text-align:center;font-size: 1.5rem;font-weight: bolder;">';
cards += 'Results filtered by current career ' + '<span style="color: #1274d9 !important;"><%= @search_ini %></span>' + ' and interested in ';
cards += '<span style="color: #1274d9 !important;"><%= @search_sub %></span>' + '</div><br><br>';
cards += "<%= escape_javascript(render partial: "home/story_card", stories: @stories )  %>";
filter = "<%= escape_javascript(render partial: "home/filter" )  %>";
$("#cardsContainer").html(cards);
$("#dynamicFilter").html(filter);
<% if @current %>
  $("select[name='sub_career_path']").val($("#target option:first").val());
<% end %>
<% if @interested %>
  $("select[name='ini_career_path']").val($("#target option:first").val());
<% end %>
dynamicFilter();
