<div class="container container-fluid"><br>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
      <h2>Curate Your Career</h2>
    </div><br><br>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
      <h4>Find fulfillment and happiness in your job</h4>
    </div><br><br>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <ul class"list-style">
        <li>
          Hear about people just like ou able to change careers
        </li>
        <li>
          Learn how to overcome financial, mental, and social barriers holding you back
        </li>
        <li>
          Gain tactical guidance on what steps you could take to get to your dream career
        </li>
      </ul>
    </div>
  </div>
</div>
