<div class="container container-fluid"><br>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
      <h2>Stories</h2>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div id="cardsContainer" class="row">
      <%= render "story_card.html.erb", stories: @stories %>
  </div>
</div>
