<h1>Editing Page <%= @page.name %></h1>

<%= render 'form', page: @page %>

<div class="row">
  <div class="col-12">
    <%= link_to 'Back to Admin', admin_path, class: "btn btn-sm btn-info right" %>
  </div>
</div>

