<div class="h5">
  <% career.story_questions.order(:created_at).each do |sq| %>
    <section>
      <div id="question-<%= sq.id %>" class="h5"><p><b class=""><%= sq.question %></b></p></div>
      <div class="h4"><%= markdown(sq.response) %></div>
      <br>
    </section>
  <% end %>
</div>
