<div>
  <label class="col-form-label">Question Title:</label>
  <input type="text" class="form-control">
</div>
<div>
  <label class="col-form-label">Response</label>
  <textarea type="text" class="form-control textArea"></textarea>
</div>
