<div style="padding-top: 5%;">
  <% career.story_questions.order(:created_at).each do |sq| %>
    <section>
      <div id="question-<%= sq.id %>" class="story-questions"><%= sq.question %></div>
      <div class="h4"><%= markdown(sq.response) %></div>
      <br>
    </section>
  <% end %>
</div>
