<div class="h5">
  <br>
  <% career.story_questions.each do |sq| %>
    <section>
      <div id="question-<%= sq.id %>" class="h5"><b><%= sq.question %></b></div>
      <br>
      <div class="h5"><%= markdown(sq.response) %></div>
      <br>
    </section>
  <% end %>
</div>
