<br>
<h4 class="center">Add New Story</h4>
<br>
<%= render 'form', story: @story, career: @career, job: @job %>
<br>
<%= link_to 'Back to Admin', admin_index_path, class: "btn btn-sm btn-info right" %>
<br><br>
