<h6>Editing Question: <%= @story_question.question %></h6>

<%= render 'form', story: @story, career: @career, story_question: @story_question %>

<div class="col-12">
  <%= link_to 'Back to Story Questions', story_career_story_questions_path(@story.id, @career, @story_question),
              class: "btn btn-sm btn-info right" %>
  <p>&nbsp;</p>
  <%= link_to 'Back to Stories', admin_index_path, class: "btn btn-sm btn-info right" %>
</div>
