/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.bodyFont {
  font-family: 'Roboto' !important;
}
.navbar-nav > li > a {
 font-size:      1.5em;
}
.sStoryIcon {
  font-size: 1em !important;
  text-align: center;
}
.titleMobile {
  font-size: 2.5em;
  text-align: center;
  color: #ffffff !important;
  padding-top: 10%;
}
.font-color-white {
  color: #ffffff;
}
.btn-primary:hover {
  color: #222222 !important;
}
.btn-info:hover {
  color: #222222 !important;
}
.btn-warning:hover {
  color: #222222 !important;
}
.btn-danger:hover {
  color: #222222 !important;
}
.btn-primary:visited {
  color: #ffffff;
}
.btn-info:visited {
  color: #ffffff;
}
.btn-warning:visited {
  color: #ffffff;
}
.btn-danger:visited {
  color: #ffffff;
}
.hrDivider {
  border-bottom: 1px solid #ccc;
}
.textArea {
  height: 150px;
}
.right {
  float: right;
}
.left {
  float: left;
}
.centerText {
  text-align: center;
}
.inlineBlock {
  display: inline-block !important;
}
.padding-footer {
  color: #ffffff;
  padding: 90px 0px 90px 20px;
}
.footer-link a {
  text-decoration: none;
  color: #ffffff;
}
.footer-link a:hover {
  color: #ffffff;
  background-color: transparent;
}
.padding-top-5 {
  padding-top: 5%;
}
.padding-bottom-5 {
  padding-bottom: 5%;
}