/* Home page styles */
.mainContent{
  margin: 0 auto;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  float: none;
  display: flex;
}
.mainMenu a {
  font-family: 'Roboto', sans-serif;
  color: #222222;
  &:hover {
    background: none;
    border-bottom: 2px solid #953BFF;
  }
}
.logo img {
  width: 50%;
}
.logo {
  &:hover {
    background: none;
  }
}
.no-background {
  background: none;
  background-color: transparent !important;
}
.select-bottom {
  border: none !important;
  border-bottom: solid #953BFF !important;
  border-radius: 0px !important;
  box-shadow: none !important;
  font-size: 1.3rem !important;
  line-height: 25px !important;
  padding: 0px 0px 0px 0px !important;  
  -webkit-appearance: none;
}
.btn-purple {
  background-color: #953BFF !important;
  border-color: #953BFF !important;
  border-radius: 0px !important;
  color: #ffffff;
  float: left;
  font-family: Roboto !important;
  font-size: 0.8rem !important;
  font-weight: 100 !important;
  line-height: 0.8 !important;
  width: 55% !important;
  box-shadow: 1px 5px 7px 0px #888888;
}
.imgResponsive {
  width: 20%;
}
.card-header {
  background-color: #1274d9 !important;
  color: #ffffff;
}
.imgArrow {
  width: 2rem !important;
}
.imgArrowStory {
  width: 2rem !important;
}
.col-sm-12 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.card {
  margin-bottom: 2rem;
}
.storyLink {
  word-break: break-all;
}
.browseBtn {  
  padding: 20px 20px 20px 20px;
  white-space: normal !important;
  word-wrap: break-word;
}
//Carousel
.img-background {
  background: url("carousel.jpg") no-repeat;    
  background-size: 100% 100%;
  min-height: 550px;
}
.main-top-row {
  min-height: 550px;
}
.center-vertical {
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;  
  transform: translate(-50%, -50%);
  width: 100%;
}
.h1-custom {
  font-size: 3.2rem;
  font-weight: 300;
}
.h4-custom {
  font-size: 1rem;
  font-weight: 300;
  line-height: 2rem;
  text-align: left;
  margin-bottom: 0px;
}
.left-panel {
  padding: 85px 20px 20px 20px;
}
.right-panel {
  padding: 0px 0px 0px 70px;
}
.width-100 {
  width: 100%;  
}
.center {
  text-align: center;
}
.font-white {
  color: #ffffff;
}
.align-bottom { 
  padding: 210px 0px 0px 40px;
}
// Media Queries 

@media (min-width: 1200px) {
  html {
    font-size: 17px;
    b {
      font-weight: 600;
    }
  }
  .col-xl-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 30.333333% !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  .card {
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 30px !important;
  }
  .cardContainer {
    min-height: 380px;
    max-height: 380px;
  }
  .imgArrow {
    width: 2rem;
  }
  .imgArrowStory {
    width: 5%;
  }
  .imgArrowBrowse {
    width: 3%;
  }
  .browseBtn {
    max-width: 25%;
    word-wrap: break-word;
    white-space: normal !important;
    padding: 20px 20px 20px 20px;
  }
  .h5 {
    font-family: serif;
    font-size: 1.2rem !important;
    font-weight: 200 !important;
    line-height: 1.8 !important;
    b {
      font-weight: 600;
    }
  }
  .h5 p {
    font-family: serif;
    font-size: 1.1rem !important;
    font-weight: 200 !important;
    line-height: 1.8 !important;
  }
  .h5 ul {
    font-family: serif;
    font-size: 1.0rem !important;
    font-weight: 200 !important;
    line-height: 1.8 !important;
  }
  .browseLink {
    font-size: larger;
  }
  .blogLink {
    font-size: x-large;
  }
  .lg-width {
    width: 75% !important;
  }
  b {
    font-weight: 600;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 17px;
  }
  .col-xl-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 30.333333% !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  .card {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 30px !important;
  }
  .cardContainer {
    min-height: 380px;
    max-height: 380px;
  }
  .imgArrow {
    width: 2rem;
  }
  .imgArrowStory {
    width: 5%;
  }
  .imgArrowBrowse {
    width: 3%;
  }
  .browseBtn {
    max-width: 25%;
    word-wrap: break-word;
    white-space: normal !important;
    padding: 20px 20px 20px 20px;
  }
  .h5 {
    font-family: serif;
    font-size: 1.2rem !important;
    font-weight: 200 !important;
    line-height: 1.8 !important;
    b {
      font-weight: 600;
    }
  }
  .h5 p {
    font-family: serif;
    font-size: 1.1rem !important;
    font-weight: 200 !important;
    line-height: 1.8 !important;
  }
  .h5 ul {
    font-family: serif;
    font-size: 1.0rem !important;
    font-weight: 200 !important;
    line-height: 1.8 !important;
  }
  .browseLink {
    font-size: larger;
  }
  .blogLink {
    font-size: x-large;
  }
  .lg-width {
    width: 75% !important;
  }

}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 90% !important;
  }
  .col-sm-12 {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  .card {
    margin-bottom: 30px !important;
  }
  .cardContainer {
    min-height: 680px;
    max-height: 680px;
  }
  .imgArrow {
    width: 10px !important;
  }
  .imgArrowStory {
    width: 5%;
  }
  .imgArrowBrowse {
    width: 3%;
  }
  .browseBtn {
    max-width: 40% !important;
    word-wrap: break-word;
    white-space: normal !important;
    padding: 20px 20px 20px 20px;
  }
  .text-center {
    text-size-adjust: auto;
  }
  .h5 p {
    font-size: 1.1rem !important;
    font-weight: 200 !important;
    line-height: 1.8 !important;
  }
  .card-text {
    font-size: larger !important;
    line-height: 45px;
  }
  .browseLink {
    font-size: larger;
  }
  .blogLink {
    font-size: x-large;
  }
  .mobileSelect {
    font-size: 1em !important;
    max-width: 100% !important;
    width:  100% !important;
  }
  .mobileShow {
    font-size: 1.7rem !important;
  }
  .form-control {
    height: auto !important;
  }
  b {
    font-weight: 600;
  }
}


@media (min-width: 576px) and (max-width: 767px) {
  .container {
    width: 90% !important;
  }
  .col-sm-12 {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  .card {
    margin-bottom: 30px !important;
  }
  .cardContainer {
    min-height: 680px;
    max-height: 680px;
  }
  .imgArrow {
    width: 10px !important;
  }
  .imgArrowStory {
    width: 5%;
  }
  .imgArrowBrowse {
    width: 3%;
  }
  .browseBtn {
    max-width: 40% !important;
    word-wrap: break-word;
    white-space: normal !important;
    padding: 20px 20px 20px 20px;
  }
  .text-center {
    text-size-adjust: auto;
  }
  .h5 p {
    font-size: 1.0rem !important;
    font-weight: 200 !important;
    line-height: 1.8 !important;
  }
  .card-text {
    font-size: larger !important;
    line-height: 45px;
  }
  .browseLink {
    font-size: larger;
  }
  .blogLink {
    font-size: x-large;
  }
  .mobileSelect {
    font-size: 1em !important;
    max-width: 100% !important;
    width:  100% !important;
  }
  .mobileShow {
    font-size: 1.7rem !important;
  }
  .form-control {
    height: auto !important;
  }
  b {
    font-weight: 600;
  }
}
