/* Home page styles */
.mainContent{
  margin: 0 auto;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  float: none;
  display: flex;
}
.mainMenu a {
  color: #ffffff !important;
}
.imgResponsive {
  width: 20%;
}
.card-header {
  background-color: #1274d9 !important;
  color: #ffffff;
}
.imgArrow {
  width: 2rem !important;
}
.imgArrowStory {
  width: 2rem !important;
}
.col-sm-12 {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.card {
  margin-bottom: 2rem;
}
.storyLink {
  word-break: break-all;
}
.browseBtn {
  word-wrap: break-word;
  white-space: normal !important;
  padding: 20px 20px 20px 20px;
}

@media (min-width: 1200px) {
  html {
    font-size: 17px;
    b {
      font-weight: 600;
    }
  }
  .col-xl-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 30.333333% !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  .card {
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 30px !important;
  }
  .cardContainer {
    min-height: 380px;
    max-height: 380px;
  }
  .imgArrow {
    width: 2rem;
  }
  .imgArrowStory {
    width: 5%;
  }
  .imgArrowBrowse {
    width: 3%;
  }
  .browseBtn {
    max-width: 25%;
    word-wrap: break-word;
    white-space: normal !important;
    padding: 20px 20px 20px 20px;
  }
  .h5 {
    font-family: serif;
    font-size: 1.2rem !important;
    font-weight: 200 !important;
    line-height: 1.8 !important;
    b {
      font-weight: 600;
    }
  }
  .h5 p {
    font-family: serif;
    font-size: 1.1rem !important;
    font-weight: 200 !important;
    line-height: 1.8 !important;
  }
  .h5 ul {
    font-family: serif;
    font-size: 1.0rem !important;
    font-weight: 200 !important;
    line-height: 1.8 !important;
  }
  .browseLink {
    font-size: larger;
  }
  .blogLink {
    font-size: x-large;
  }
  .lg-width {
    width: 75% !important;
  }
  b {
    font-weight: 600;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 17px;
  }
  .col-xl-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 30.333333% !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  .card {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 30px !important;
  }
  .cardContainer {
    min-height: 380px;
    max-height: 380px;
  }
  .imgArrow {
    width: 2rem;
  }
  .imgArrowStory {
    width: 5%;
  }
  .imgArrowBrowse {
    width: 3%;
  }
  .browseBtn {
    max-width: 25%;
    word-wrap: break-word;
    white-space: normal !important;
    padding: 20px 20px 20px 20px;
  }
  .h5 {
    font-family: serif;
    font-size: 1.2rem !important;
    font-weight: 200 !important;
    line-height: 1.8 !important;
    b {
      font-weight: 600;
    }
  }
  .h5 p {
    font-family: serif;
    font-size: 1.1rem !important;
    font-weight: 200 !important;
    line-height: 1.8 !important;
  }
  .h5 ul {
    font-family: serif;
    font-size: 1.0rem !important;
    font-weight: 200 !important;
    line-height: 1.8 !important;
  }
  .browseLink {
    font-size: larger;
  }
  .blogLink {
    font-size: x-large;
  }
  .lg-width {
    width: 75% !important;
  }

}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 90% !important;
  }
  .col-sm-12 {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  .card {
    margin-bottom: 30px !important;
  }
  .cardContainer {
    min-height: 680px;
    max-height: 680px;
  }
  .imgArrow {
    width: 10px !important;
  }
  .imgArrowStory {
    width: 5%;
  }
  .imgArrowBrowse {
    width: 3%;
  }
  .browseBtn {
    max-width: 40% !important;
    word-wrap: break-word;
    white-space: normal !important;
    padding: 20px 20px 20px 20px;
  }
  .text-center {
    text-size-adjust: auto;
  }
  .h5 p {
    font-size: 1.1rem !important;
    font-weight: 200 !important;
    line-height: 1.8 !important;
  }
  .card-text {
    font-size: larger !important;
    line-height: 45px;
  }
  .browseLink {
    font-size: larger;
  }
  .blogLink {
    font-size: x-large;
  }
  .mobileSelect {
    font-size: 1em !important;
    max-width: 100% !important;
    width:  100% !important;
  }
  .mobileShow {
    font-size: 1.7rem !important;
  }
  .form-control {
    height: auto !important;
  }
  b {
    font-weight: 600;
  }
}


@media (min-width: 576px) and (max-width: 767px) {
  .container {
    width: 90% !important;
  }
  .col-sm-12 {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  .card {
    margin-bottom: 30px !important;
  }
  .cardContainer {
    min-height: 680px;
    max-height: 680px;
  }
  .imgArrow {
    width: 10px !important;
  }
  .imgArrowStory {
    width: 5%;
  }
  .imgArrowBrowse {
    width: 3%;
  }
  .browseBtn {
    max-width: 40% !important;
    word-wrap: break-word;
    white-space: normal !important;
    padding: 20px 20px 20px 20px;
  }
  .text-center {
    text-size-adjust: auto;
  }
  .h5 p {
    font-size: 1.0rem !important;
    font-weight: 200 !important;
    line-height: 1.8 !important;
  }
  .card-text {
    font-size: larger !important;
    line-height: 45px;
  }
  .browseLink {
    font-size: larger;
  }
  .blogLink {
    font-size: x-large;
  }
  .mobileSelect {
    font-size: 1em !important;
    max-width: 100% !important;
    width:  100% !important;
  }
  .mobileShow {
    font-size: 1.7rem !important;
  }
  .form-control {
    height: auto !important;
  }
  b {
    font-weight: 600;
  }
}
