// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.table td, .table th {
  font-size: 1.0rem;
  text-align: center;
  width: 20%;
}
.grayTable {
  background-color: gainsboro;
}
.h5 {
  font-size: 1.35rem !important;
  font-weight: 300 !important;
  line-height: 1.5 !important;
}
.h5 p {
  font-size: 1.2rem !important;
  font-weight: 300 !important;
  line-height: 1.5 !important;
}
.h5 ul {
  font-size: 1.2rem !important;
  font-weight: 300 !important;
  line-height: 1.5 !important;
}
.center{
  text-align: center;
}
