// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.table td, .table th {
  font-size: 1.0rem;
  text-align: center;
  width: 20%;
}
.grayTable {
  background-color: gainsboro;
}

.center{
  text-align: center;
}

// Story container
.h2-story {
  font-weight: 200;
}
.story-header {
  background-color: #F8F8F8;
  padding: 45px;
}
.story-footer {
  background-color: #F8F8F8;
  padding: 45px;
  margin-left: 0px;
  margin-right: 0px;
}
.right-panel {
  border-left: solid 1px #953BFF;
}
.label-title {
  color: #b9b7b7;
  font-weight: 200;
  font-size: 0.8rem;
}
.label-field {
  font-size: 0.8rem;
}
.summary-font ul {
  font-size: 0.9rem;
  line-height: 2;
  font-weight: 100;
}
.summary-font li {
  margin-bottom: 15px;
}
.btn-link {  
  border-radius: 0 !important;
  color: #222222 !important;
  font-family: 'Roboto', sans-serif;
  font-weight: 400 !important;
  text-align: left !important;
  text-decoration: none !important;
  width: 100%;
}
.btn-link:focus {
  outline: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.h5 a {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #222222;
  text-decoration: none !important;
  &:hover {
    background: none;
    border-bottom: 2px solid #953BFF;
  }
}
.btn-link:after {
  color: #953BFF;
  content: '';
  position: absolute;
  left: 600px;
  top: 10px;
  width: 13px;
  height: 13px;
  border-top: solid 2px currentColor;
  border-right: solid 2px currentColor;
  -webkit-transform: rotate(135deg);
  transform: rotate(45deg);
}
.hr-custom {  
  border-bottom: solid 1px #9AA8B2;  
  padding-top: 40px;
}
.container-story {
  margin-right: 10% !important;
  margin-left: 10% !important;
}
.story-questions {
  width: fit-content;
  font-family: 'Roboto';
  font-weight: 400;
  border-bottom: solid 1px #953BFF;
  margin-bottom: 2%;
}
.h4 p {
  font-family: Roboto;
  font-weight: 200;
  line-height: 1.5rem;
  font-size: 0.9rem;
}
.similar-stories {
  font-size: 1rem;
  padding: 45px 0px 10px 70px !important;
}

//// Timeline

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 10px;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 4px;
  background-color: #953BFF;
  top: 18px;
  bottom: 20px;
  left: 1%;  
}

/* Container around content */
.time-container {  
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.time-container::after {
  content: '';
  position: absolute;
  top: 7px;
  border-radius: 50%;
  z-index: 1;
}

.time-container-white::after {
  width: 17px;
  height: 17px;
  left: -9px;
  background-color: #FFFFFF;
  border: 2px solid #953BFF;
}
.time-container-purple::after {
  left: -10px;
  width: 20px;
  height: 20px;  
  border: 4px solid #953BFF;
  background-color: #953BFF;
}

/* The actual content */
.content {
  padding: 6px 30px;
  position: relative;
  border-radius: 6px;
  font-size: 0.8rem;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}