<footer>
  <div class="footer">
    <div class="container padding-footer">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-6">
          <h1 class="h1-custom" style="display:inline">Curve Your Career</h1><div style="display:inline">&copy;</div><br>
          <span>curveyourcareer@gmail.com</span>
        </div>
        <div class="col-lg-8 col-md-6 col-6">
          <div class="row">
            <div class="col-lg-6">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-6 font-roboto footer-link">
                  <a class="nav-link active" href="/">Home</a>                        
                  <a class="nav-link" href="/browse">Browse</a>
                  <a class="nav-link" href="/about">About</a>              
                </div>
                <div class="col-lg-6 col-md-6 col-6 font-roboto footer-link">
                  <a class="nav-link" href="/blog">Blog</a>
                  <a class="nav-link" href="/submit-story">Submit</a>
                  <a class="nav-link" href="/contact">Contact</a>
                </div>
              </div>
            </div>
            <div class="col-lg-6"></div>
          </div>
        </div>
      </div>    
    </div>
  </div>
</footer>
